<h2>Showing selected  article</h2>
<div>
  <h3>Title: <%= @article.title %></h3>
</div>
<div>
  <p>Description: <%= @article.description %></p>
</div>
<div>
  <br/>
  <%= link_to 'Edit this article', edit_article_path(@article) %>
</div>
<div>
  <br/>
  <%= link_to 'Back to articles listing', articles_path %>
</div>