<h2>All Galisoft Bloggers</h2>
<% @users.each do|user| %>
  <ul class="listing">
    <div class="row">
      <div>
        <li><%= link_to gravatar_for(user), user_path(user) %></li>
        <li class="article-title">
          <%= link_to user.username, user_path(user) %>
        </li>
        <li>
          <small>
            <%= pluralize(user.articles.count, 'article') if user.articles %>
          </small>
        </li>
      </div>
    </div>
  </ul>
<% end %>