<footer class="main-footer black_bg">
  <div class="container-fluid">
    <div class="row bg-dark">
      <div class="col d-flex justify-content-between bg-muted py-2">
        <ul class="d-flex justify-content-between align-items-center list-unstyled m-0">
          <li class="mx-2"><a href="#" class="text-decoration-none text-muted"><ion-icon name="logo-facebook"></ion-icon></a></li>
          <li class="mx-2"><a href="https://twitter.com/gango_anan" class="text-decoration-none text-muted"  ><ion-icon name="logo-twitter"></ion-icon></a></li>
          <li class="mx-2"><a href="https://www.linkedin.com/in/galiwango-ananiya/" class="text-decoration-none text-muted"><ion-icon name="logo-linkedin"></ion-icon></a></li>
          <li class="mx-2"><a href="#" class="text-decoration-none text-muted"><ion-icon name="logo-instagram"></ion-icon></a></li>
          <li class="mx-2"><a href="https://github.com/gango-anan" class="text-decoration-none text-muted"><ion-icon name="logo-github"></ion-icon></a></li>
        </ul>
        <p class="text-white small m-0">Powered by <i><strong>galisoft</strong></i></p>
      </div>
    </div>
  </div>
</footer>
