<div class="center jumbotron">
  <h1 class="display-4">Galisoft Blog</h1>
<!--  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>-->
  <%= link_to "Sign up now", root_path, class: "btn btn-success btn-lg" %>
</div>
<%= link_to 'Galisoft Blog', articles_path %> | <%= link_to 'About', about_path %>